body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
  }

  .output {
    display: block;
    width: 100%; /* Make the canvas take full width of its container */
    height: 100%; /* Make the canvas take full height of its container */
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }